@import 'globals.scss';

.app-container {
  @include flex-center();
  background: linear-gradient(to bottom, $white, $black);
  flex-direction: column;
  min-height: 100vh;
  @media #{$no-color-change} {
    background: white;
  }
}
