@import 'globals.scss';

.content-container {
  max-width: 560px;
  margin: 0 auto;
  padding: 15px;
}

.title {
  font-size: 55px;
  margin-top: 120px;
  margin-bottom: 70px;
  letter-spacing: 0.7px;

  @media screen and (max-width: 370px) {
    font-size: 46px;
  }
}

.signature {
  font-family: $averia;
  font-size: 24px;
  margin: 40px 0;
  text-align: right;

  a {
    color: $base-font-color;
    font-weight: 400;
    text-decoration: none;
  }
}
