<div class="stripe">
  <div class="stripe-inner">
    <h1>Test Headline</h1>
    <h2>Test Headline 2</h2>
    <h3>Test Headline 3</h3>
    <h4>Test Headline 4</h4>
    <h5>Test Headline 5</h5>
    <h6>Test Headline 6</h6>
    <p>test paragraph</p>
    <p><strong>Test bold</strong></p>
    <p><em>test italics</em></p>
    <p><a href="#">test link</a></p>
    <ul>
      <li>Test list 1</li>
      <li>Test list 2</li>
      <li>Test list 3 </li>
      <li>Test list 4</li>
    </ul>
    <ol>
      <li>Test list 1</li>
      <li>Test list 2</li>
      <li>Test list 3 </li>
      <li>Test list 4</li>
    </ol>
  </div>
</div>